body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style-type: none;
    margin: 10px 20px;
    padding: 10px; 
    overflow: hidden;
    background-color: green;
    
}
li{
    float: right;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    background-color: green;
    text-decoration: none;
}
li a:hover{
    color:hsl(120, 96%, 9%);
}
.container{
    padding: 3rem;
}
.slider-wrapper{
    position: relative;
    max-width: 45rem;
    margin: 0 auto;
}
img{
    width: 100%;
}
.slider{
    display: flex;
    aspect-ratio: 16 /10;
    overflow-x: auto;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
}
.slider-img{
    flex: 1 0 100%;
    scroll-snap-align: start;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.50rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.75;
    transition: opacity ease 200ms;
    cursor: pointer;
}
.slider-nav a:hover{
    opacity: 1;
}
button{
    margin: 10px;
    padding: 10px;
    position:absolute;
    left:100px;
    /* border: none; */
    background-color: #fff;
    border-radius: 10px;
}
button a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
}
button:hover{
    background-color: hsl(0, 0%, 49%);
    opacity: 0.75;
}
button a:hover{
    color: #fff;
}
